@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*
*{
    margin:0.1em;
}*/

body{
    margin: 0;
    padding:0;
    font-family: 'Roboto';
    background: url("https://landing.zytheme.com/siena/assets/images/background/bg-1.png");
    background-repeat: no-repeat;
   /* background-position: 0px;*/
}

.container{
   /* padding:0 100px;*/
    width:85%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
}

.main_section{
    margin-top: 170px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px;
}

.secundary-section{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
 }

.footer_div{
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
}

nav{
    flex: 1;
    display: flex;
    /*flex-direction: row-reverse;*/
    justify-content: end;
}

nav ul{
    display: flex;
    padding:0;
}

nav ul li{
    list-style: none;

    padding-left: 50px;
}

nav ul li a{
    color:#6262a0;
    font-size: 1em;
    text-decoration: none;
}

nav ul li a:hover{
    color:#664ffa;
}

h1{
    color:#6262a0;
    font-size: 3em;
    font-weight:400;    
    margin:25px 0px 10px;
}

h2{
    color:#6262a0;
    font-size: 1.8em;
    font-weight:400;    
    margin:25px 0px 10px;
}

h3{
    color:#6262a0;
    margin:0;
    font-size: 1.65em;
    font-weight:400;    
    padding:20px 0px;
    display: block;
    text-align: center;
}

h4{
    color:#6262a0;
    margin:0;
    font-size: 1.3em;
    font-weight:400;    
    padding:10px 0px;
    display: block;
    text-align: center;
}

p{
    color:#a0a0ba;
    font-size: 1.05em;
    line-height: 30px;
}

p span{
    font-size: 0.8em;
    line-height: 0px;
    margin: 0;
}



p.center{
    text-align: center;
    margin: 10px;

}



/*
.section-form-container{
    background-color: white;
    border-radius: 4px;
}*/


#box-trial{
    margin-left: 100px;
    background-color: white;
    border-radius: 4px;
    padding:40px 40px 10px;
    box-shadow: 0px 21px 66px -16px rgba(162,160,160,0.75);
    -webkit-box-shadow: 0px 21px 66px -16px rgba(162,160,160,0.75);
    -moz-box-shadow: 0px 21px 66px -16px rgba(162,160,160,0.75);
}


.form-container{
   padding: 25px;
}

.field-form input{
    background-color: #F7F6FF;
    color: #555;
    border: 1px solid #e9ebee;
    border-radius: 4px;
    font-size: 1.05em;
    padding: 15px 15px 6px 15px;
    outline: none;
    margin-right:10px;
    width: 100%;
    margin-bottom: 10px;
}

.field-form label{
    color: #4510d6;
    margin: 10px 0px;
    font-size: 0.95em;
    display: block;
    font-weight:100;
}

.btn-primary{
    width: 100%;
    background-color: #664ffa;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 10px;
    border:none;
    margin:20px 0px 0px;
    font-size: 0.8em;
    font-weight: 700;
}

.btn-primary:hover{

    background-color: #3b1df9;
    cursor:pointer;

}


.content-slide1{
    flex:50;
}

.content-slide1-text{
    margin-top: 75px;
}

.secundary-section{
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.section1{

    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    justify-content: center;
    padding: 0px 15px;
}

.section2{
    display: flex;    
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.items-box{
    flex:33;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
 
}


.items-box p{
    color:#a0a0ba;
    font-size: 1em;
    line-height: 30px;

}

.rounded-image {

    width: 70px;
    height: 70px;
    line-height: 70px; 
    border-radius: 50%;
    margin-bottom: 40px;
    text-align: center;
    margin-right: auto;
    margin-left: auto

}

.bg-green {
    box-shadow: 0 4px 10px rgb(2 230 184 / 30%);
    background-color: #02e6b8;
}

.bg-blue{
    box-shadow: 0 4px 10px rgb(92 72 224 / 30%);
    background-color: #5c48e0;
}

.bg-orange {
    box-shadow: 0 4px 10px rgb(230 126 0 / 30%);
    background-color: #ff8c00;
}

img {
    vertical-align: middle;
    justify-content: center;
    border-style: none;
}

